
p.f{color:black;text-align:center;}

p.s{color:black;text-align:center;}

h1{color:red;font-weight:bold;}

h2{color:rgb(128, 0, 96);font-weight:bold;}

img{border-style:ridge;border-width:15px;border-color:green purple red blue;}

body{background-color:lightblue;background-image: url(IMG_20181108_081525.jpg);
    background-repeat: repeat-x;background-repeat: repeat-y;
-webkit-animation-name: sample;
-webkit-animation-duration: 6s;
-webkit-animation-iteration-count: infinite;}

@-webkit-keyframes sample{
    0%{background-position: center;}
    25%{background-position: right;}
    50%{background-position: center;}
    75%{background-position: left;}
    100%{background-position: center;}
}